
*{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
a{
    list-style: none;
}
.box>.header>.nav>ul>li:nth-child(6)>div{
    background-color: #334b35;
}
.nav_other>ul>li:nth-child(6)>div{
    background-color: #334b35;
}

.contain{
    width: 100%;
    height: 346px;
    background: url(../img/pic/Aboutbg.jpg) no-repeat center/100% 100%;
    position: relative;
    margin-bottom: 120px;
}
.contain>.bg{
    width: 100%;
    height: 346px;
    background: rgb(51, 75, 53,.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.contain>.text{
    width: 100%;
    height: 106px;
    position: absolute;
    top: 120px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    z-index: 9;
}
.contain>.text>ul{
    display: flex;
    width: 140px;
    height: 34px;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contain>.text>ul>li{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color:#fff;
    text-align: left;
}
.contain>.text>ul>li>a{
    color: #fff;
} 
.contain>.text>ul>li>a:hover{
    color: #f1cf69;
}
.contain>.text>h2{
    margin-top: 22px;
    color: #ffffff;
    font-size: 50px;
    line-height: 1em;
    letter-spacing: -0.04em;
}
/*  */
.box>.Touch{
    width: 100%;
    height: 581px;
    box-sizing: border-box;
    padding:0 48px 120px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.Touch>.text{
    width: 300px;
    height: 422px;
}
.Touch>.text>.title{
    width: 100%;
    height: 170px;
    margin-bottom: 42px;
}
.Touch>.text>.title>img{
    margin: 5px 0 10px;
}
.Touch>.text>.title>p{
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: #687469;

}
.Touch>.text>.title>h2{
    width: 100%;
    height: 100px;
    color: #334b35;
    font-size: 40px;
    margin-top: 5px;
}
.Touch>.text>p{
    width: 100%;
    height: 136px;
    font-size: 18px;
    line-height: 34px;
    color: #687469;
}
.Touch>.text>ul{
    margin-top: 28px;
    display: flex;
}
.Touch>.text>ul>li{
    width: 42px;
    height: 42px;
    margin: 0 5px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s;
    background-color: #f6f4ec;
}
.Touch>.text>ul>li>img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.Touch>.text>ul>li:hover{
    background-color:#f1cf69;
}


/*  */
.Touch>.link{
    width: 770px;
    height: 460px;
}
.Touch>.link>form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.Touch>.link>form>input{
    width: 310px;
    height: 70px;
    padding:  0 30px;
    margin-bottom: 20px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    color: #727d73;
    background: #f6f4ec;
    font-size: 14px;
}
.Touch>.link>form>p{
    font-size: 12px;
    position: absolute;
}
.Touch>.link>form>.text{
    top: 70px;
    left: 25px;
}
.Touch>.link>form>.email{
    top: 70px;
    right: 170px;
}
.Touch>.link>form>.tel{
    top: 160px;
    left: 25px;
}
.Touch>.link>form>.sub{
    top: 160px;
    right: 110px;
}
.Touch>.link>form>textarea{
    width: 710px;
    height: 142px;
    padding: 18px 30px 30px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    color: #727d73;
    background: #f6f4ec;
    font-size: 14px;
    resize: vertical;
}
.Touch>.link>form>button{
    width: 232px;
    height: 70px;
    color: #334b35;
    font-size: 14px;
    background-color: #F1cf69;
    padding: 18px 50px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    position: relative;
    bottom: -20px;
}

/* 按钮渐变色 */
.Touch>.link>form>.show{
    width: 10px;
    height: 70px;
    font-size: 14px;
    background-color: #334b35;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    border-radius: 10px;
    position: absolute;
    bottom: -20px;
    left: 222px;
    opacity: .5;
}
.Touch>.link>form>.show>button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    outline: 0;
    border: 0;
    background-color: #334b35;
}
.Touch>.link>form>.show>button>p{
    color: #fff;
}
/* 留言板 */
.box>.message{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0px 50px 86px;
    display: flex;
    position: relative;
}
.message>.people{
    width: 500px;
    height: 470px;
    padding: 20px 50px;
    background-color: #fff;
}
.message>.people>h2{
    color: black;
    margin-bottom: 50px;
}
.message>.people>input{
    width: 150px;
    height: 35px;
    padding-left:15px;
    border: 1px solid #334b35;
    margin: 20px;
    outline: 0;     
    border-radius: 10px;
    color: #727d73;
}
.message>.people>textarea{
    width: 310px;
    height: 150px;
    padding-left:15px;
    border: 1px solid #334b35;
    margin: 20px ;
    outline: 0;
    border-radius: 10px;
    color: #727d73;
    resize:vertical;
}
.message>.people>button{
    width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    background-color: #feae00;
    border: 1px solid #feae00;
    border-radius: 5px;
}
.message>.people>button:active{
    background-color: #feae0050;
    border: 1px solid #f6f4ec;
    color: #f1cf69;
}
.message>button{
    width: 100px;
    height: 20px;
    font-size: 14px;
    line-height: 14px;
    background-color: #687469;
    border: 1px solid #687469;
    border-radius: 5px;
    position: absolute;
    bottom: 110px;
    left: 100px;
}

.message>button:active{
    background-color: #68746950;
    color: #fff;
}
.message>.suggestion{
    width: 100%;
    height: 470px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    display: grid;
    grid-template-columns:repeat(2,300px);
    grid-template-rows: repeat(auto-fill,50px);
}
.message>.suggestion::-webkit-scrollbar {
    width:10px;   
    height:1px;
}
.message>.suggestion::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#F1cf6990;
}

.message>.suggestion::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius:10px;
    background:#f6f4ec90;
}
.message.message>.suggestion>div:nth-child(1){
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #687469;
}
.message.message>.suggestion>div:nth-child(2){
    border: 1px solid grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #687469;
}
.message>.suggestion>div{
    text-indent: 1em; 
    line-height: 50px;
}










